<!DOCTYPE html>
<html lang="en">
<head>
    <title>Y - Twitter Clone</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">Y</h1>
            <p class="lead">Twitter Clone</p>
            <p>Welcome to 'Y', a social media platform inspired by the essence of Twitter created by
               Joakin Bartholomaus using Ruby on rails. My platform aims to foster meaningful connections 
               and conversations among users.</p>
        </div>
    </div>
</body>
</html>
